@model string

@if (!string.IsNullOrEmpty(Model) && Model != "default")
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#secondaryNav" aria-controls="secondaryNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="secondaryNav">
                <ul class="navbar-nav">
                    <!-- Content Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="contentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Content
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="contentDropdown">
                            <li><a class="dropdown-item" href="/">Home</a></li>
                            <li><a class="dropdown-item" href="/Content/List?app=@Model">List</a></li>
                            <li><a class="dropdown-item" href="/Content/Calendar?app=@Model">Calendar</a></li>
                        </ul>
                    </li>

                    <!-- Functions Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="functionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Functions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="functionsDropdown">
                            <li><a class="dropdown-item" href="/Functions/Add?app=@Model">Add Record</a></li>
                        </ul>
                    </li>

                    <!-- Administration Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="/Administration/FieldsEditor?app=@Model">Fields Editor</a></li>
                            <li><a class="dropdown-item" href="/Administration/AppSettings?app=@Model">App Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
