@model List<(string Name, string Var)>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="tablesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Tables
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="tablesDropdown">
        @foreach (var app in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-light" href="/Content/List?app=@app.Var">@app.Name</a>
            </li>
        }
    </ul>
</li>